tex3ds
aclocal.m4
AUTHORS
autom4te.cache/
ChangeLog
compile
config.log
config.status
configure
depcomp
doc/
Doxyfile
INSTALL
install-sh
Makefile
Makefile.in
missing
NEWS
README
source/.deps/
source/.dirstamp
source/*.o
stamp-h1
*.png
*.jpg
*.bin
